<template name="about">
<div class="page-container container" id="content">
  <div class="row" id="title_row">
    <div class="col-md-12">
      <h2 id="page_title" class="pull-left">
      About
      </h2>
      <div id="page_menu" class="pull-right">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Sponsors</h2>
      <p>Jarvis is made possible thanks to sponsorship from the following parties:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>GitHub</h3>
      <p>GitHub sponsored the team/organization that CS3134 uses by allowing unlimited private repositories. GitHub says:</p>
      <blockquote>
        <p>Spread the word: we love giving educational discounts to students, teachers, administrators, and researchers! Please send them to <a href="https://education.github.com">GitHub Education</a></p>
      </blockquote>
    </div>
<!--     <div class="col-md-6">
      <h3>AQR</h3>
      <p>AQR is AQR sponsored the servers running Jarvis and CircleCI.</p>
      <blockquote>
        <p>Spread the word: we love giving educational discounts to students, teachers, administrators, and researchers! Please send them to <a href="https://education.github.com">GitHub Education</a></p>
      </blockquote>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Developer</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Linan Qiu</h3>
      <p><a href="https://github.com/linanqiu">@linanqiu</a></p>
      <p>A panda that codes. He also likes finance, so he's a financial economics and computer science double major in Columbia College. He's from Singapore. He believes that the holy grail of engineering is for humans to be (consistently) lazy. Phrased better, that means humans doing less dumb shit. Jarvis is his attempt at doing that. He also tries to be the Head TA for this class.</p>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-md-12">
      <h2>Tech Notes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Great that you're interested in this! This system is built using <a href="https://www.meteor.com">Meteor</a> which is a web framework sitting on top of <a href="https://nodejs.org/en/">Node.js</a>. It ties together <a href="https://github.com/">GitHub</a> using GitHub's standard OAuth, and uses <a href="https://circleci.com/">CircleCI</a> for Continuous Integration.</p>
    </div>
  </div> -->
</div>
</template>
