<template name="Github">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <h2 id="page_title" class="pull-left">
          Setting up your account...
        </h2>
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
  </div>
</template>

<template name="GithubSuccess">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <h2 id="page_title" class="pull-left">
          Setup succeeded! Check your email.
        </h2>
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
  </div>
</template>

<template name="GithubFail">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <h2 id="page_title" class="pull-left">
          Setup failed. Please contact the Head TA.
        </h2>
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
  </div>
</template>
